[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-restful = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
